<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <PublishProvider>FTP</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://veeg2fresh-001-site1.ntempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishUrl>ftp://win6053.site4now.net:21/site1</PublishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <UserName>veeg2fresh-001</UserName>
    <_SavePWD>True</_SavePWD>
    <FtpPassiveMode>True</FtpPassiveMode>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
